<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>BMW 750i</string>
		<key>type</key>
		<string>4 Door Sedan</string>
		<key>mpg</key>
		<string>16 City / 25 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 4.3 secs</string>
		<key>speed</key>
		<string>130 mph</string>
		<key>price</key>
		<real>97500</real>
		<key>photo</key>
		<string>bmw.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maserati</string>
		<key>type</key>
		<string>2 Door Coupe</string>
		<key>mpg</key>
		<string>13 City / 16 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 4.7 secs</string>
		<key>speed</key>
		<string>255 mph</string>
		<key>price</key>
		<integer>126500</integer>
		<key>photo</key>
		<string>maserati.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jaguar F-Type</string>
		<key>type</key>
		<string>2 Door Convertible</string>
		<key>mpg</key>
		<string>19 City / 28 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 3.5 secs</string>
		<key>speed</key>
		<string>195 mph</string>
		<key>price</key>
		<real>128800</real>
		<key>photo</key>
		<string>jaguar.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mercedes-Benz</string>
		<key>type</key>
		<string>2 Door Coupe</string>
		<key>mpg</key>
		<string>13 City / 19 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 4.7 secs</string>
		<key>speed</key>
		<string>155 mph</string>
		<key>price</key>
		<integer>201500</integer>
		<key>photo</key>
		<string>mercedes.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ferrari GTB</string>
		<key>type</key>
		<string>2 Door Coupe</string>
		<key>mpg</key>
		<string>15 City / 22 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 3.0 secs</string>
		<key>speed</key>
		<string>205 mph</string>
		<key>price</key>
		<real>242737</real>
		<key>photo</key>
		<string>ferrari.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bentley Mulsanne</string>
		<key>type</key>
		<string>4 Door Sedan</string>
		<key>mpg</key>
		<string>11 City / 18 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 5.0 secs</string>
		<key>speed</key>
		<string>184 mph</string>
		<key>price</key>
		<real>335600</real>
		<key>photo</key>
		<string>bentley.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lamborghini</string>
		<key>type</key>
		<string>2 Door Coupe</string>
		<key>mpg</key>
		<string>11 City / 17 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 4.7 secs</string>
		<key>speed</key>
		<string>185 mph</string>
		<key>price</key>
		<integer>397500</integer>
		<key>photo</key>
		<string>lamborghini.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rolls Royce Phantom</string>
		<key>type</key>
		<string>2 Door Convertible</string>
		<key>mpg</key>
		<string>11 City / 19 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 5.7 secs</string>
		<key>speed</key>
		<string>150 mph</string>
		<key>price</key>
		<integer>420325</integer>
		<key>photo</key>
		<string>rollsroyce.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Porsche 918 Spyder</string>
		<key>type</key>
		<string>2 Door Convertible</string>
		<key>mpg</key>
		<string>62 City / 67 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 2.5 secs</string>
		<key>speed</key>
		<string>214 mph</string>
		<key>price</key>
		<real>845000</real>
		<key>photo</key>
		<string>porsche.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Smart for Two</string>
		<key>type</key>
		<string>2 Door Coupe</string>
		<key>mpg</key>
		<string>34 City / 38 Highway</string>
		<key>accel</key>
		<string>0 - 60 mph in 11.5 secs</string>
		<key>speed</key>
		<string>91 mph</string>
		<key>price</key>
		<integer>12490</integer>
		<key>photo</key>
		<string>smart.png</string>
		<key>sound</key>
		<string>toot-toot</string>
	</dict>
</array>
</plist>
